* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

body {
    margin: 300px 100px;
}

input {
    border-radius: 8px;
    border: 2px solid;
}

section {
    border: 2px solid;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 {
    margin-bottom: 30px;
}