* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}

body {
    margin: 50px;
}

input {
    border-radius: 8px;
    border: 2px solid;
}

section {
    border: 2px solid;
}

h1 {
    margin-bottom: 30px;
}